// Colors
$primary-color: #049404;
$secondary-color: #00351a;
$third-color: #fff;


// $link-color: #493f30;

// Media queries breakpoints
$landscape-tablet-laptop-l: 1050px;
$landscape-tablet-laptop-s: 850px;
$mobile-1: 760px;
